@import '../../../../styles/variables.scss';

.PickupHeaderTouch {
    .ShippingTypeComponent-Radio {
        margin-top: var(--space-l);
    }

    &_ob {
        .Panel-Header {
            padding-top: var(--space-s);
        }

        .ShippingTypeComponent-Radio {
            margin-top: 0;
        }
    }
}
