@import '../../../../styles/variables.scss';

.PaymentModal {
    .Modal-Content {
        width: calc(100% - var(--space-m) * 2);

        max-width: 470px;
    }

    .ModalLayout-Block {
        min-height: 300px;
        max-height: 90vh;
    }

    .Drawer-Curtain,
    .Drawer-Content {
        min-height: 300px;
        max-height: 90vh;
    }
}
