@import '../../../../styles/variables.scss';

.SplitSuccess {
    &_width_auto {
        width: 100%;
    }

    &_width_fixed {
        width: $split-payment-width;
    }

    .Panel-Footer {
        padding: var(--space-s) var(--space-l);
    }

    .Panel-Footer::before {
        width: 100%;
        margin: 0;
    }

    &-Icon {
        width: 80px;
        height: 80px;
    }

    &-PayAmount {
        font-size: 52px;
        line-height: 56px;
    }

    a {
        text-decoration: none;

        color: rgb(92, 142, 247);
    }

    &-PlusInfo {
        max-width: 200px;
        margin-top: 2px;
    }
}
