@import '../constants.css';

.order-footer__additional {
    display: none;
}

:--mobile {
    @media screen and (max-width: 374px) {
        .order-footer {
            padding: var(--space-16) var(--space-12);
        }
    }

    .order-footer {
        position: fixed;
        z-index: var(--z-index-action-button);
        right: 0;
        bottom: 0;
        left: 0;

        min-width: 280px;
        padding: var(--space-16);

        border-top-left-radius: var(--border-radius-16);
        border-top-right-radius: var(--border-radius-16);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: var(--color-bg-tetriary);
        box-shadow: 0 -4px var(--space-20) var(--color-separator-primary);

        @apply --mobile-content;
    }

    .order-footer__additional {
        display: block;
    }
}
