registry = https://npm.yandex-team.ru/
save-exact = true
frozen-lockfile = true

# Для того, чтобы убрать фантомные зависимости. По умолчанию, pnpm разрешает хоистинг некоторых пакетов (types, eslint, etc.)
public-hoist-pattern[] =

# Для линковки завимостей внутри монорепозитория
link-workspace-packages = true
prefer-workspace-packages = true

# Для хранения хранилища зависимостей вне Arc (из-за бага на MacOS)
store-dir = ${HOME}/.pay-frontend-tmp/pnpm-store
virtual-store-dir = ${HOME}/.pay-frontend-tmp/pnpm-virtual-store
