<!DOCTYPE html>
<html class="bg-gray-100 dark:bg-blue-gray-1900">
<head>
  <meta charset="utf-8"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/>
  <title>Yandex Pay Playground</title>
  <link rel="icon" href="/playground/_/favicon.ico" />
  <link rel="icon" type="image/svg+xml" href="/playground/_/favicon.svg" />
  <script src="/sdk/v1/pay.js"></script>
  <script>
    window.__CONFIG = {
      version: '%%version%%',
      env: '%%env%%',
      csrfToken: '%%csrfToken%%',
      devUsername: '%%devUsername%%',
    };
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
