@import '../../constants.css';

.snippet {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: flex-start;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px;
    padding: 40px 40px 10px;

    border: 1px solid #e1e1e1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(18, 27, 73, 0.1);
}

.snippet__picture {
    width: 168px;
    height: auto;
}

.snippet__info {
    padding-left: 40px;
}

.snippet__header {
    display: flex;

    padding-bottom: 28px;
}

.snippet__title {
    flex-grow: 1;

    word-break: break-word;
}

.snippet__price {
    position: relative;

    display: inline-block;

    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.snippet__description {
    padding-bottom: 42px;

    vertical-align: top;
}

.snippet__button {
    position: relative;

    width: 100%;
    height: 100px;
}

.snippet__yapay {
    position: absolute;
    top: 5px;
    left: 5px;

    width: calc(100% - 10px);
}

@media (--screen-mobile) {
    .snippet {
        flex-direction: column;

        padding: 20px;
    }

    .snippet__picture {
        position: absolute;
    }

    .snippet__info {
        padding: 0;
    }

    .snippet__price {
        padding-top: 20px;
    }

    .snippet__header {
        display: block;

        padding-left: 200px;
    }

    .snippet__description {
        min-height: 100px;
        padding-left: 200px;
    }

    .snippet__button {
        height: 75px;
    }
}

@media (--screen-watch) {
    .snippet__picture {
        display: none;
    }

    .snippet__header,
    .snippet__description {
        padding-left: 0;
    }
}
