node_modules
npm-debug.log

.idea
.DS_Store

.git
.gitignore
.editorconfig
.eslintrc
.stylelintrc
.dockerignore
.tvm.json
.config
.husky

Dockerfile

README.md

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.next
