@import '../constants.css';

.payment-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-status__message {
    color: var(--color-red);

    @apply --text-size-16;
}

.payment-error__description {
    margin-top: var(--space-12);

    text-align: center;

    color: var(--color-text-tetriary);

    @apply --text-size-14;
}
