<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Yandex.Pay SDK-init</title>
  <script>
    window.__CONFIG = {
      version: '%%version%%',
      env: '%%env%%',
      reqid: '%%reqid%%',
      csrfToken: '%%csrfToken%%',
      parentOrigin: '%%parentOrigin%%',
      paymentSheet: '%%paymentSheet%%',
      metrikaSessionId: '%%metrikaSessionId%%',
      avatarUrl: '%%avatarUrl%%',
      experiment: '%%experiment%%',
      disabled: '%%disabled%%',
      webview: '%%webview%%',
      frameUrlWhitelist: '%%frameUrlWhitelist%%',
    };
  </script>
</head>
<body>
</body>
</html>
