.Pagination-Button {
  width: var(--pagination-button-width);

  .Button2-Text {
    margin: 0 var(--offset-10);
    color: var(--color-text-default-soft);
    font-weight: 500;
    opacity: 1;
  }
}

.Pagination-Button.Separator {
  cursor: auto;
}

.Pagination-Button:not(.Separator):hover {
  &:before {
    background-color: var(--button-bg-secondary);
  }
}

.Pagination-IconPrev {
  transform: rotate(180deg);
}
