@mixin transition($property: all, $duration: 0.15s, $delay: 0s) {
  transition: $property $duration linear $delay;
}

@mixin media($breakpoint, $direction: 'below') {
  @if $direction == 'below' {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else if $direction == 'above' {
    @media screen and (min-width: calc($breakpoint)) {
      @content;
    }
  }
}

%clear-button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
