@import '../../../styles/mixins.scss';

.Button2_variant_as-link {
  @extend %clear-button;

  display: contents;
  -webkit-appearance: none;

  &:empty {
    display: none;
  }

  .Button2-Text {
    display: inline;
    margin: 0;
    color: var(--link-default);
    white-space: normal;
    pointer-events: initial;
  }
}
