.InstallServiceModule-Button {
  padding: var(--offset-12) var(--offset-20);
}

.InstallServiceModule-Text {
  align-items: center;
}

.InstallServiceModule-IconTile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--add-module-height);
  max-width: var(--add-module-width);
  border-radius: var(--radius-16);
  background: var(--button-bg-secondary);
}

.InstallServiceModule-Icon {
  width: var(--add-module-icon-width);
}
