.MessageBox.MessageBox_variant_finish {
  .MessageBox-Backdrop:before {
    background-color: var(--message-box-bg-finish);
  }

  .MessageBox-TextLeft {
    margin-right: var(--offset-12);

    .Icon {
      width: var(--size-20);
      height: var(--size-20);
    }
  }

  .MessageBox-Text {
    color: var(--color-white);
  }
}
