@import '../../styles/variables.scss';

.MainDesktopScreen {
    .MainDesktopScreen-Pay {
        min-width: 360px;
        max-width: 360px;
    }

    .MainDesktopScreen-Delivery {
        min-width: $desktop-blocks-width;
        max-width: 595px;
    }

    .MainDeliveryBlock,
    .MainPaymentBlock {
        &-Divider {
            padding-left: 72px;
        }

        &-ListButtonLoader {
            padding-left: var(--list-button-space-left);
        }
    }
}
