.frame-csp {
    width: 100%;
}

.frame-csp textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    padding: 10px 10px 10px 0;

    font-family: monospace;
    font-size: 14px;

    border: none;
}

.frame-csp__whitelist {
    margin-bottom: 10px;

    font-family: monospace;
    font-size: 14px;
    white-space: pre;
}

.frame-csp__csp-settings {
    margin-bottom: 5px;
}

.frame-csp__csp-apply button,
.frame-csp__csp-settings button {
    margin-right: 5px;

    font-size: 14px;
}
