@import '../../styles/variables';

$pin-height: 80px;
$free-space-center: calc(50% + calc(#{$map-sidebar-with} / 2));

$pin-top-touch-short-short: calc(
    (100% - #{$touch-map-bottom-short-height}) / 2 + (#{$touch-map-top-short-height} / 2)
);
$pin-top-touch-short-high: calc(
    (100% - #{$touch-map-bottom-high-height}) / 2 + (#{$touch-map-top-short-height} / 2)
);
$pin-top-touch-high-short: calc(
    (100% - #{$touch-map-bottom-short-height}) / 2 + (#{$touch-map-top-high-height} / 2)
);
$pin-top-touch-high-high: calc(
    (100% - #{$touch-map-bottom-high-height}) / 2 + (#{$touch-map-top-high-height} / 2)
);
$tooltip-top-touch-short-short: calc(#{$pin-top-touch-short-short} - #{$pin-height} + 6px);
$tooltip-top-touch-short-high: calc(#{$pin-top-touch-short-high} - #{$pin-height} + 6px);
$tooltip-top-touch-high-short: calc(#{$pin-top-touch-high-short} - #{$pin-height} + 6px);
$tooltip-top-touch-high-high: calc(#{$pin-top-touch-high-high} - #{$pin-height} + 6px);

.Map {
    position: relative;
    z-index: $map-z-index;

    display: none;

    width: 100vw;
    height: 100vh;
    min-height: 100vh;

    &_visible {
        display: block;
    }

    &-ClusterIcon {
        color: $color-fill-white;
    }

    &_inactive::before {
        content: '';

        position: absolute;
        z-index: $map-overlay-z-index;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: rgba(0, 0, 0, 0.2);
    }

    &-Pin {
        position: absolute;
        z-index: $map-pin-z-index;

        display: none !important;

        width: 48px;
        height: $pin-height;

        transform: translateX(-50%) translateY(-100%);

        &_visible {
            display: block !important;
        }

        &_layout_desktop {
            top: 50%;
            left: $free-space-center;
        }

        &_layout_touch-short-short {
            top: $pin-top-touch-short-short;
            left: 50%;
        }

        &_layout_touch-short-high {
            top: $pin-top-touch-short-high;
            left: 50%;
        }

        &_layout_touch-high-short {
            top: $pin-top-touch-high-short;
            left: 50%;
        }

        &_layout_touch-high-high {
            top: $pin-top-touch-high-high;
            left: 50%;
        }
    }

    &-Tooltip {
        position: absolute;
        z-index: $map-tooltip-z-index;

        display: none;

        box-sizing: border-box;
        max-width: 280px;
        padding: 12px 16px 16px;

        border-radius: 12px;
        background: #fff;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

        transform: translateX(-50%) translateY(-100%);

        &_visible {
            display: block;
        }

        &_layout_desktop {
            top: calc(50% - #{$pin-height} + 6px);
            left: $free-space-center;
        }

        &_layout_touch-short-short {
            top: $tooltip-top-touch-short-short;
            left: 50%;
        }

        &_layout_touch-short-high {
            top: $tooltip-top-touch-short-high;
            left: 50%;
        }

        &_layout_touch-high-short {
            top: $tooltip-top-touch-high-short;
            left: 50%;
        }

        &_layout_touch-high-high {
            top: $tooltip-top-touch-high-high;
            left: 50%;
        }
    }
}
